<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userManagementServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.userManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBInitServlet</servlet-name>
        <servlet-class>com.kiteapp.utils.DBInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>productManagementServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.productManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiteServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.kiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.autoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchResultServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.searchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>com.kiteapp.servlets.productServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userManagementServlet</servlet-name>
        <url-pattern>/userManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBInitServlet</servlet-name>
        <url-pattern>/DBInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productManagementServlet</servlet-name>
        <url-pattern>/productManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiteServlet</servlet-name>
        <url-pattern>/kiteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServlet</servlet-name>
        <url-pattern>/autoCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchResultServlet</servlet-name>
        <url-pattern>/searchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
