/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Nov-2019, 15:57:04
    Author     : adavi
*/

h1{
	text-align: center;
	font-family: 'Lucida Console';
	font-size: 35px;
}

h1:hover {
	cursor:pointer;
}

h2{
	text-align: left;
	font-family: 'Lucida Console';
	font-size: 35px;
}

h5{
	font-family: 'Lucida Console';
}

h4{
	font-family: 'Lucida Console';
}



.header {
	top:0.5em;
	position:relative;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {

background-color: #70B5C3;
}

.navbar-inverse{
	background-color:transparent;
	border:none;
	font-family: 'Lucida Console';
	float:center;
}
.navbar-inverse .navbar-nav > li > a{
	color:black;
}


.navbar-inverse li:hover{
	background-color:#70B5C3;
}

.dropdown-menu li a{
    font-family: 'Lucida Console';
}

.dropdown:hover .dropdown-menu{
    display: block;   
}

  .dropdown-menu li a:hover{
    background-color:#70B5C3;
    display:block;
}

.jumbotron{
	background-color:#70B5C3;
	padding:60px;
}

.jumbotron h2{
	position:absolute;
	
	left:1em;
	top:4em;
}

.carousel-inner > .item{
	height:400px;
        
}

#myCarousel{
    position: relative;
    left:1em;
    width:98%;
}


.carousel-inner img{
	object-fit:contain;
	width:100%;
	height:auto;															
}


.panel img{
	height:180px;
        
}

.panel > .panel-heading{
	text-align:center;
	font-family: 'Lucida Console';
	font-size: 20px;
	background-color:#ffffff;
	color:black;
	
}

.panel-primary{
	border-color:#70B5C3;
	height:475px;
}

.panel li{
	font-family: 'Lucida Console';
}

.panel-footer.panel-custom  {
	text-align:center;
	font-family: 'Lucida Console';
	font-size: 20px;
	color:green	;
	background-color:white;
}

.panel-footer.panel-custom a{
	color:white	;
	text-decoration:none;
}

.panel-footer p{
	color:red;
}

.list-unstyled:hover{
    cursor: pointer;
}

.btn-primary{
	background-color:black;
	border:none;
	color:white;
}

.btn-primary:hover{
	background-color:#70B5C3;
}

footer{
	background-color:#70B5C3;
	padding:20px;
	color:black;
}



.col-sm-7 img {
	height:500px;
	position:relative;
	left:1em;
}

.col-sm-5 p{
	font-family: 'Lucida Console';
}

.input-group{
	width:120px;
	
}

.map-container{
overflow:hidden;
position:relative;
height:60px;
}
.map-container iframe{
left:0;
top:0;
height:85%;
width:100%;
position:absolute;
}